a {
    text-decoration: none;
    color: #242323;
}

body{
    background-color: #588157;
}

.animalesBG {
    background-color: #588157;
}

.title__animalesProductos {
    color: #f1faee;
}

/* BOTONES DE TIPO DE ANIMAL */
.activo {
   background-color: #242323;  
}

/* BOTONES DE CATEGORIAS */
.activado {
    color: #588157;
}

/* CARRITO */

.boton-carrito {
position: fixed;
  bottom: 0; 
  right: 0;
  background-color: #242323;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #f1faee;
  padding: 10px;
  margin: 10px;
  z-index: 1000;
  font-size: 20px;
}
