a {
    text-decoration: none;
    color: #242323;
}

body{
    background-color: #588157;
}

.animalesBG {
    background-color: #588157;
}

.title__animalesProductos {
    color: #f1faee;
}

/* BOTONES DE TIPO DE ANIMAL */
.activo {
   background-color: #242323;  
}

/* BOTONES DE CATEGORIAS */
.activado {
    color: #588157;
}
